.cercles_bleu{
    position: absolute;
    bottom: 0;
    left: 100px;

    .cercle_bleu1{
        position: absolute;
        top: 30px;
        left: 0;
    }
    .cercle_bleu2{
        position: absolute;
        bottom: 80px;
        left: 200px;
        z-index: -5;
    }
    .cercle_bleu1, .cercle_bleu2{

        .c1{
          z-index: -3;
        position: inherit;
        top: 0;
        left: 0;
        height: 575px;
        width: 575px;
        border-radius: 100%;
        background-color: #4A7391;  
        }
        

        .c2{
            z-index: -2;
            position: inherit;
            top: 50px;
            left: 50px;
            content: "";
            height: 475px;
            width: 475px;
            border-radius: 100%;
            background-color: #ACCFE8;
        }

        .c3{
            z-index: -1;
            position: inherit;
            top: 100px;
            left: 100px;
            content: "";
            height: 375px;
            width: 375px;
            border-radius: 100%;
            background-color: #6391B2;
        }
    }
}

.cercles_bleu_contact{
    position: absolute;
    top: 55%;
    left: 400px;

    .cercle_bleu1{
        position: absolute;
        top: 30px;
        left: 0;
        z-index: -5;
    }
    .cercle_bleu2{
        position: absolute;
        bottom: 80px;
        left: 200px;
        
    }
    .cercle_bleu1, .cercle_bleu2{

        .c1{
          z-index: -3;
        position: inherit;
        top: 0;
        left: 0;
        height: 575px;
        width: 575px;
        border-radius: 100%;
        background-color: #4A7391;  
        }
        

        .c2{
            z-index: -2;
            position: inherit;
            top: 50px;
            left: 50px;
            content: "";
            height: 475px;
            width: 475px;
            border-radius: 100%;
            background-color: #ACCFE8;
        }

        .c3{
            z-index: -1;
            position: inherit;
            top: 100px;
            left: 100px;
            content: "";
            height: 375px;
            width: 375px;
            border-radius: 100%;
            background-color: #6391B2;
        }
    }
}

.cercles_orange{
    position: relative;
    bottom: 0;
    left: 100px;

    .cercle_orange1{
        position: absolute;
        bottom: 190px;
        left: 170px;
    }
    .cercle_orange2{
        z-index: -5;
        position: absolute;
        bottom: 110px;
        left: 350px;
    }
    .cercle_orange1, .cercle_orange2{
        
        .c3{
            z-index: -3;
        position: inherit;
        top: 0;
        left: 0;
        height: 300px;
        width: 300px;
        border-radius: 100%;
        background-color: #E27C5A;
    }

        .c1{
            z-index: -2;
            position: inherit;
            top: 25px;
            left: 25px;
            content: "";
            height: 250px;
            width: 250px;
            border-radius: 100%;
            background-color: #ECAE7D;
        }

        .c2{
            z-index: -1;
            position: inherit;
            top: 50px;
            left: 50px;
            content: "";
            height: 200px;
            width: 200px;
            border-radius: 100%;
            background-color: #E27C5A;
        }
    }
}

.cercles_beige{
    position: absolute;
    bottom: 0;
    left: 100px;

    .cercle_beige1{
        position: absolute;
        bottom: 230px;
        left: 350px;
    }
    .cercle_beige2{
        position: absolute;
        bottom: 380px;
        left: 600px;
        z-index: -5;
    }
    .cercle_beige1, .cercle_beige2{

        .c1{
          z-index: -3;
        position: inherit;
        top: 0;
        left: 0;
        height: 575px;
        width: 575px;
        border-radius: 100%;
        background-color: #8f8e64;  
        }
        

        .c2{
            z-index: -2;
            position: inherit;
            top: 50px;
            left: 50px;
            content: "";
            height: 475px;
            width: 475px;
            border-radius: 100%;
            background-color: #cdcfaf;
        }

        .c3{
            z-index: -1;
            position: inherit;
            top: 100px;
            left: 100px;
            content: "";
            height: 375px;
            width: 375px;
            border-radius: 100%;
            background-color: #bec09b;
        }
    }
}

.cercles_beige_1{
    position: absolute;
    bottom: 0;
    left: 100px;

    .cercle_beige1_1{
        position: absolute;
        bottom: 230px;
        left: 50px;
    }
    .cercle_beige2_1{
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -5;
    }
    .cercle_beige1_1, .cercle_beige2_1{

        .c1{
          z-index: -3;
        position: inherit;
        top: 0;
        left: 0;
        height: 575px;
        width: 575px;
        border-radius: 100%;
        background-color: #8f8e64;  
        }
        

        .c2{
            z-index: -2;
            position: inherit;
            top: 50px;
            left: 50px;
            content: "";
            height: 475px;
            width: 475px;
            border-radius: 100%;
            background-color: #cdcfaf;
        }

        .c3{
            z-index: -1;
            position: inherit;
            top: 100px;
            left: 100px;
            content: "";
            height: 375px;
            width: 375px;
            border-radius: 100%;
            background-color: #bec09b;
        }
    }
}

.cercles_beige_2{
    position: absolute;
    bottom: 0;
    left: 100px;

    .cercle_beige1_2{
        position: absolute;
        bottom: 450px;
        left: 200px;
    }
    .cercle_beige2_2{
        position: absolute;
        bottom: 400px;
        left: 0;
        z-index: -5;
    }
    .cercle_beige1_2, .cercle_beige2_2{

        .c1{
          z-index: -3;
        position: inherit;
        top: 0;
        left: 0;
        height: 575px;
        width: 575px;
        border-radius: 100%;
        background-color: #8f8e64;  
        }
        

        .c2{
            z-index: -2;
            position: inherit;
            top: 50px;
            left: 50px;
            content: "";
            height: 475px;
            width: 475px;
            border-radius: 100%;
            background-color: #cdcfaf;
        }

        .c3{
            z-index: -1;
            position: inherit;
            top: 100px;
            left: 100px;
            content: "";
            height: 375px;
            width: 375px;
            border-radius: 100%;
            background-color: #bec09b;
        }
    }
}

.cercles_turq{
    position: absolute;
    bottom: 0;
    left: 550px;

    .cercle_turq1{
        position: absolute;
        bottom: 390px;
        left: 200px;
    }
    .cercle_turq2{
        position: absolute;
        bottom: 420px;
        left: 0;
        z-index: -5;
    }
    .cercle_turq1, .cercle_turq2{

        .c1{
          z-index: -3;
        position: inherit;
        top: 0;
        left: 0;
        height: 575px;
        width: 575px;
        border-radius: 100%;
        background-color: #4f706c;  
        }
        

        .c2{
            z-index: -2;
            position: inherit;
            top: 50px;
            left: 50px;
            content: "";
            height: 475px;
            width: 475px;
            border-radius: 100%;
            background-color: #a8c2bb;
        }

        .c3{
            z-index: -1;
            position: inherit;
            top: 100px;
            left: 100px;
            content: "";
            height: 375px;
            width: 375px;
            border-radius: 100%;
            background-color: #89afa9;
        }
    }
}

.cercles_turq_1{
    position: absolute;
    bottom: 0;
    left: 100px;

    .cercle_turq1_1{
        position: absolute;
        bottom: 230px;
        left: 350px;
    }
    .cercle_turq2_1{
        position: absolute;
        bottom: 380px;
        left: 600px;
        z-index: -5;
    }
    .cercle_turq1_1, .cercle_turq2_1{

        .c1{
          z-index: -3;
        position: inherit;
        top: 0;
        left: 0;
        height: 575px;
        width: 575px;
        border-radius: 100%;
        background-color: #4f706c;  
        }
        

        .c2{
            z-index: -2;
            position: inherit;
            top: 50px;
            left: 50px;
            content: "";
            height: 475px;
            width: 475px;
            border-radius: 100%;
            background-color: #a8c2bb;
        }

        .c3{
            z-index: -1;
            position: inherit;
            top: 100px;
            left: 100px;
            content: "";
            height: 375px;
            width: 375px;
            border-radius: 100%;
            background-color: #89afa9;
        }
    }
}

.cercles_turq_2{
    position: absolute;
    bottom: 0;
    left: 700px;

    .cercle_turq1_2{
        position: absolute;
        bottom: 200px;
        left: 50px;
    }
    .cercle_turq2_2{
        position: absolute;
        bottom: 400px;
        left: -150px;
        z-index: -5;
    }
    .cercle_turq1_2, .cercle_turq2_2{

        .c1{
          z-index: -3;
        position: inherit;
        top: 0;
        left: 0;
        height: 575px;
        width: 575px;
        border-radius: 100%;
        background-color: #4f706c;  
        }
        

        .c2{
            z-index: -2;
            position: inherit;
            top: 50px;
            left: 50px;
            content: "";
            height: 475px;
            width: 475px;
            border-radius: 100%;
            background-color: #a8c2bb;
        }

        .c3{
            z-index: -1;
            position: inherit;
            top: 100px;
            left: 100px;
            content: "";
            height: 375px;
            width: 375px;
            border-radius: 100%;
            background-color: #89afa9;
        }
    }
}

.cercles_rose{
    position: absolute;
    bottom: 0;
    left: 0px;

    .cercle_rose1{
        position: absolute;
        bottom: 390px;
        left: 200px;
    }
    .cercle_rose2{
        position: absolute;
        bottom: 420px;
        left: 0;
        z-index: -5;
    }
    .cercle_rose1, .cercle_rose2{

        .c1{
          z-index: -3;
        position: inherit;
        top: 0;
        left: 0;
        height: 575px;
        width: 575px;
        border-radius: 100%;
        background-color: #7e5a77;  
        }
        

        .c2{
            z-index: -2;
            position: inherit;
            top: 50px;
            left: 50px;
            content: "";
            height: 475px;
            width: 475px;
            border-radius: 100%;
            background-color: #ccbbcc;
        }

        .c3{
            z-index: -1;
            position: inherit;
            top: 100px;
            left: 100px;
            content: "";
            height: 375px;
            width: 375px;
            border-radius: 100%;
            background-color: #b69bb2;
        }
    }
}

.cercles_rose_1{
    position: absolute;
    bottom: 0;
    left: 100px;

    .cercle_rose1_1{
        position: absolute;
        bottom: 230px;
        left: 350px;
    }
    .cercle_rose2_1{
        position: absolute;
        bottom: 380px;
        left: 600px;
        z-index: -5;
    }
    .cercle_rose1_1, .cercle_rose2_1{

        .c1{
          z-index: -3;
        position: inherit;
        top: 0;
        left: 0;
        height: 575px;
        width: 575px;
        border-radius: 100%;
        background-color: #7e5a77;  
        }
        

        .c2{
            z-index: -2;
            position: inherit;
            top: 50px;
            left: 50px;
            content: "";
            height: 475px;
            width: 475px;
            border-radius: 100%;
            background-color: #ccbbcc;
        }

        .c3{
            z-index: -1;
            position: inherit;
            top: 100px;
            left: 100px;
            content: "";
            height: 375px;
            width: 375px;
            border-radius: 100%;
            background-color: #b69bb2;
        }
    }
}

.cercles_rose_2{
    position: absolute;
    bottom: 0;
    left: 100px;

    .cercle_rose1_2{
        position: absolute;
        bottom: 200px;
        left: 50px;
    }
    .cercle_rose2_2{
        position: absolute;
        bottom: 400px;
        left: -150px;
        z-index: -5;
    }
    .cercle_rose1_2, .cercle_rose2_2{

        .c1{
          z-index: -3;
        position: inherit;
        top: 0;
        left: 0;
        height: 575px;
        width: 575px;
        border-radius: 100%;
        background-color: #7e5a77;  
        }
        

        .c2{
            z-index: -2;
            position: inherit;
            top: 50px;
            left: 50px;
            content: "";
            height: 475px;
            width: 475px;
            border-radius: 100%;
            background-color: #ccbbcc;
        }

        .c3{
            z-index: -1;
            position: inherit;
            top: 100px;
            left: 100px;
            content: "";
            height: 375px;
            width: 375px;
            border-radius: 100%;
            background-color: #b69bb2;
        }
    }
}

.cercles_gris{
    position: absolute;
    bottom: 0;
    left: 700px;

    .cercle_gris1{
        position: absolute;
        bottom: 390px;
        left: 200px;
    }
    .cercle_gris2{
        position: absolute;
        bottom: 420px;
        left: 0;
        z-index: -5;
    }
    .cercle_gris1, .cercle_gris2{

        .c1{
          z-index: -3;
        position: inherit;
        top: 0;
        left: 0;
        height: 575px;
        width: 575px;
        border-radius: 100%;
        background-color: #5e5e5e;  
        }
        

        .c2{
            z-index: -2;
            position: inherit;
            top: 50px;
            left: 50px;
            content: "";
            height: 475px;
            width: 475px;
            border-radius: 100%;
            background-color: #cecece;
        }

        .c3{
            z-index: -1;
            position: inherit;
            top: 100px;
            left: 100px;
            content: "";
            height: 375px;
            width: 375px;
            border-radius: 100%;
            background-color: #9e9668;
        }
    }
}

.cercles_gris_1{
    position: absolute;
    bottom: 0;
    left: 100px;

    .cercle_gris1_1{
        position: absolute;
        bottom: 230px;
        left: 350px;
    }
    .cercle_gris2_1{
        position: absolute;
        bottom: 380px;
        left: 600px;
        z-index: -5;
    }
    .cercle_gris1_1, .cercle_gris2_1{

        .c1{
          z-index: -3;
        position: inherit;
        top: 0;
        left: 0;
        height: 575px;
        width: 575px;
        border-radius: 100%;
        background-color: #5e5e5e;  
        }
        

        .c2{
            z-index: -2;
            position: inherit;
            top: 50px;
            left: 50px;
            content: "";
            height: 475px;
            width: 475px;
            border-radius: 100%;
            background-color: #cecece;
        }

        .c3{
            z-index: -1;
            position: inherit;
            top: 100px;
            left: 100px;
            content: "";
            height: 375px;
            width: 375px;
            border-radius: 100%;
            background-color: #9e9668;
        }
    }
}

.cercles_gris_2{
    position: absolute;
    bottom: 0;
    left: -40%;

    .cercle_gris1_2{
        position: absolute;
        bottom: 1000px;
        left: 50px;
    }
    .cercle_gris2_2{
        position: absolute;
        bottom: 1200px;
        left: -150px;
        z-index: -5;
    }
    .cercle_gris1_2, .cercle_gris2_2{

        .c1{
          z-index: -3;
        position: inherit;
        top: 0;
        left: 0;
        height: 575px;
        width: 575px;
        border-radius: 100%;
        background-color: #5e5e5e;  
        }
        

        .c2{
            z-index: -2;
            position: inherit;
            top: 50px;
            left: 50px;
            content: "";
            height: 475px;
            width: 475px;
            border-radius: 100%;
            background-color: #cecece;
        }

        .c3{
            z-index: -1;
            position: inherit;
            top: 100px;
            left: 100px;
            content: "";
            height: 375px;
            width: 375px;
            border-radius: 100%;
            background-color: #9e9668;
        }
    }
}
