.de_base {
    .projet {
        position: relative;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 0.12fr;

        grid-column-gap: 0px;
        grid-row-gap: 0px;
        max-width: 100%;
        margin-top: 100px;

        box-shadow: -12px 12px 9px 0px rgba(0, 0, 0, 0.25);
        border: 2px solid var(--color-black);
        background-color: var(--color-primary);

        .contenu {
            grid-area: 1 / 1 / 2 / 2;
            border-bottom: 2px solid var(--color-black);
            position: relative;


            .name {
                margin-top: -3%;
                margin-left: 3%;
            }

            .reseau_sociaux {
                position: absolute;
                bottom: 0;
                right: 0;
                background-color: var(--color-primary);
                z-index: 2;

                padding: 20px;
                border-top: 2px solid var(--color-black);
                border-left: 2px solid var(--color-black);
                display: flex;
                align-items: center;
                flex-direction: column;

                .ligne {
                    height: 1.5px;
                    width: 50px;
                    background-color: var(--color-black);
                    margin: 10px 0;
                }

                a {
                    svg {
                        transition: ease-in-out 0.2s;

                        &:hover {
                            filter: drop-shadow(-4px 4px 2px rgba(0, 0, 0, 0.5));
                        }
                    }

                }
            }

            .tag {
                position: absolute;
                bottom: -5px;
                left: 0;

                &:first-child {
                    margin-left: 20px;
                }
            }

        }

        .max {
            grid-area: 1 / 2 / 2 / 3;
            border-left: 2px solid var(--color-black);
            border-bottom: 2px solid var(--color-black);

            img {
                height: 100%;
                width: 100%;
            }

        }


        .bars {
            grid-area: 2 / 2 / 3 / 3;
            width: 100%;
            height: fit-content;
            overflow: hidden;
            border-left: 2px solid var(--color-black);


            background-color: var(--color-primary);

            .contenant {
                width: fit-content;
                height: 88px;
                display: flex;
                gap: 60px;
                align-items: center;

                .bar {
                    background-color: var(--color-black);
                    height: 160%;
                    width: 60px;
                    transform: rotate(30deg);
                }
            }
        }


        .div4 {
            grid-area: 2 / 1 / 3 / 2;
        }

        .contenu {
            h1 {
                position: absolute;
                top: -20px;
                left: 30px;
            }
        }
        @media screen and (max-width: $breakpoint-md){
            

            .bars {
                .contenant{
                    height: 79px;
                }
            }
        }

        @media screen and (max-width: $breakpoint-sm) {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            margin: 0;

            .contenu {
                height: 200px;
                order: 2;
                border-bottom: none;

                .reseau_sociaux {
                    padding: 10px;
                    gap: 0;

                    .ligne {
                        margin: 10px 0;
                    }
                }

                .tag{
                    bottom: -3px;
                }
            }

            .max {
                order: 1;
                border-left: none;

                img {
                    display: block;
                    height: 300px;
                    object-fit: cover;
                    object-position: 0 0;
                }
            }

            .bars {
                display: none;
            }
        }
    }

    .objectif {
        border: 2px solid var(--color-black);
        max-width: 745px;
        margin-top: -30px;
        margin-left: 50px;
        background-color: var(--color-primary);
        z-index: 2;
        position: relative;
        box-shadow: -12px 12px 9px 0px rgba(0, 0, 0, 0.25);

        .contenu {
            margin: 70px;
        }

        @media screen and (max-width: $breakpoint-sm) {
            margin-top: 50px;
            margin-left: 0;

            .contenu {
                margin: 20px;
                text-align: left;
            }
        }
    }

    .moodboard_container {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        position: relative;

        .moodboard {
            background-color: var(--color-primary);
            box-shadow: -12px 12px 9px 0px rgba(0, 0, 0, 0.25);

            border: 2px solid var(--color-black);
            overflow: hidden;
            max-width: 940px;
            margin-top: -30px;


            .content {
                margin: 50px;
                margin-right: 0;

                p {
                    padding-bottom: 20px;
                    max-width: 75%;
                }


                .swiper{
                    border-left: 1px solid var(--color-black);
                    padding: 50px 0;
                    
                    .carousel2 {
                    border: none;
                    margin: -20px 150px 0 0;
                    
                    img {
                        max-width: 100%;

                    }
                }
                }
                
            }

        }

        @media screen and (max-width: $breakpoint-sm) {
            .moodboard {
                margin-top: 50px;

                .content {
                    padding: 0 10px 10px 10px;
                    margin: 20px;

                    p {
                        max-width: 100%;
                    }

                    .swiper{
                        border-left: 1px solid var(--color-black);
                        padding: 10px 0;
                        .carousel2 {
                            margin: 0;
    
                        img {
                            max-width: 120%;
    
                        }
                    }
                    }
                }
            }
        }
    }

    .p_article {
        margin: 100px 150px 0 70px;
        border: 2px solid var(--color-black);
        background-color: var(--color-primary);
        box-shadow: -12px 12px 9px 0px rgba(0, 0, 0, 0.25);
        max-width: 75%;

        position: relative;

        .content {
            padding-left: 50px;
            padding-bottom: 50px;

            p {
                padding-bottom: 20px;
                max-width: 75%;
            }
        }


        .swiper{
            border-left: 1px solid var(--color-black);
            padding: 50px 0;
            .carousel {
            border-top: none;
            
            z-index: 2;
            

            img {
                max-width: 100%;
            }
        }
        }
        

        @media screen and (max-width: $breakpoint-sm) {

            margin: 50px 0;
            max-width: 100%;

            .content {
                padding: 0 0 20px 30px;

                p {
                    max-width: 100%;
                    padding: 0;
                }
            }

           
        }
    }

    .pro_crea {
        display: flex;
        justify-content: end;
        max-width: 100%;
        margin-top: -30px;

        .contenant2 {
            max-width: 75%;
            border: 2px solid var(--color-black);
            background-color: var(--color-primary);
            box-shadow: -12px 12px 9px 0px rgba(0, 0, 0, 0.25);
        }

        .parent {
            display: grid;
            grid-template-columns: 0.6fr 1fr;
            grid-template-rows: 1fr 0.2fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            overflow: hidden;
        }

        .txt {
            width: 100%;
            grid-area: 1 / 1 / 2 / 2;
            border-right: 2px solid var(--color-black);

            padding: 20px 30px;
        }

        img {
            grid-area: 1 / 2 / 2 / 3;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .bars {
            grid-area: 2 / 1 / 3 / 2;
            width: 100%;
            height: fit-content;
            overflow: hidden;
            border-top: 2px solid var(--color-black);
            border-right: 2px solid var(--color-black);
            height: 90px;
            background-color: var(--color-primary);

            .contenant {
                width: fit-content;
                height: 88px;
                display: flex;
                gap: 60px;
                align-items: center;

                .bar {
                    background-color: var(--color-black);
                    height: 160%;
                    width: 60px;
                    transform: rotate(30deg);
                }
            }
        }

        .div4 {
            grid-area: 2 / 2 / 3 / 3;
            border-top: 2px solid var(--color-black);
        }

        

        @media screen and (max-width: $breakpoint-sm) {
            display: block;
            margin-top: 50px;

            .contenant2 {
                max-width: 100%;
            }

            .parent {
                display: flex;
                flex-direction: column;
            }

            .txt {
                order: 2;
                border-right: none;

                p {
                    margin: 0;
                }
            }

            img {
                order: 1;
                border-bottom: 2px solid var(--color-black);
            }

            .bars,
            .div4 {
                display: none;
            }
        }

    }

}

/////////////////////////////////////////////////////////REP
.recette_en_pot {
    .moodboard_container {

        .moodboard {
            max-width: 800px;
            margin-top: 100px;

            .content {
                margin-right: 50px;
                img {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    max-width: 100%;
                    border: 1px solid var(--color-black);

                }

            }

            @media screen and (max-width: $breakpoint-sm) {
                margin-top: 50px;
            }

        }
    }

    .pro_crea {
        justify-content: start;
    }

    .p_article {
        max-width: 100%;

        .content {
            padding: 50px;

            h3 {
                margin-bottom: -5px;

                &:first-of-type {
                    text-align: right;
                }
            }

            img {
                border: 1px solid var(--color-black);
                padding: 20px;
            }

            @media screen and (max-width: $breakpoint-sm) {
                padding: 20px;

                h3 {
                    margin-bottom: -3px;
                }
            }
        }

        .link {
            display: flex;
            justify-content: center;
            align-self: center;
            width: 100%;
            margin-bottom: 50px;
        }
    }
}

/////////////////////////////////////////////////////////AT
.audio_technica {
    .projet {
        .contenu {
            h1 {
                left: 10px;
            }
        }
    }
    .p_article {
        max-width: 100%;

        .content {
            padding: 50px;

            p {
                padding-bottom: 20px;
                max-width: 75%;
            }
        }

        .carousel {
            position: relative;
            display: flex;
            justify-content: center;
            border-top: 1px solid var(--color-black);
            border-left: none;
            padding: 50px 0;

            .hero {
                position: absolute;
                top: 10%;
                right: 0;

                display: flex;
                justify-content: flex-end;
                text-align: center;
                padding: 0;

                border-top: 1px solid var(--color-black);


                p {
                    margin: 0;
                    padding: 5px;
                    line-height: 1;

                    background-color: var(--color-primary);
                    border: 1px solid var(--color-black);
                    border-top: none;
                }
            }

            .feat {
                position: absolute;
                top: 40%;
                left: 0;

                display: flex;
                text-align: center;
                padding: 0;
                border-top: 1px solid var(--color-black);

                p {
                    margin: 0;
                    padding: 5px;
                    line-height: 1;

                    background-color: var(--color-primary);
                    border: 1px solid var(--color-black);
                    border-top: none;
                }
            }

            .soft {
                position: absolute;
                top: 60%;
                right: 0;

                display: flex;
                justify-content: flex-end;
                text-align: center;
                padding: 0;
                border-top: 1px solid var(--color-black);

                p {
                    margin: 0;
                    padding: 5px;
                    line-height: 1;

                    background-color: var(--color-primary);
                    border: 1px solid var(--color-black);
                    border-top: none;
                }
            }

            .conx {
                position: absolute;
                top: 80%;
                left: 0;

                display: flex;
                text-align: center;
                padding: 0;
                border-top: 1px solid var(--color-black);

                p {
                    margin: 0;
                    padding: 5px;
                    line-height: 1;

                    background-color: var(--color-primary);
                    border: 1px solid var(--color-black);
                    border-top: none;
                }
            }

            .foot {
                position: absolute;
                top: 90%;
                right: 0;

                display: flex;
                justify-content: flex-end;
                text-align: center;
                padding: 0;
                border-top: 1px solid var(--color-black);

                p {
                    margin: 0;
                    padding: 5px;
                    line-height: 1;

                    background-color: var(--color-primary);
                    border: 1px solid var(--color-black);
                    border-top: none;
                }
            }

            img {
                max-width: 50%;
            }
        }

        @media screen and (max-width: $breakpoint-sm) {
            .content {
                padding: 20px;

                p {
                    max-width: 100%;
                }
            }

            .carousel {
                padding: 20px 0;

                .hero {
                    top: 14%;
                    width: 75%;
                    box-shadow: -12px 12px 9px 0px rgba(0, 0, 0, 0.25);
                }

                .feat {
                    top: 45%;
                    right: 15px;
                    left: auto;
                    width: 50%;
                    border-top: none;
                    box-shadow: -12px 12px 9px 0px rgba(0, 0, 0, 0.25);

                    p {
                        border: 1px solid var(--color-black);
                    }
                }

                .soft {
                    top: 63%;
                    width: 75%;
                    box-shadow: -12px 12px 9px 0px rgba(0, 0, 0, 0.25);
                }

                .conx {
                    top: 84%;
                    width: 75%;
                    box-shadow: -12px 12px 9px 0px rgba(0, 0, 0, 0.25);
                }

                .foot {
                    top: 94%;
                    width: 75%;
                    box-shadow: -12px 12px 9px 0px rgba(0, 0, 0, 0.25);
                }

                img {
                    max-width: 100%;
                }
            }
        }
    }
}

/////////////////////////////////////////////////////////BI
.b_industries {
    .moodboard_container {
        .moodboard {
            max-width: 80%;

            .content{
                padding-right: 50px;
            }
        }
    }

    .pro_crea {
        margin-top: 100px;
        justify-content: start;

        .txt {
            a {
                padding: 10px 30px;
            }
        }

    }

    .p_article {
        max-width: 60%;
        margin: 0;
        margin-top: -30px;
        margin-left: 40%;

        .content {
            padding: 50px;

            p {}
        }



        img {
            width: 100%;

            margin: 0;
        }

    }

    .making_of {
        border: 2px solid var(--color-black);
        max-width: 90%;
        margin-left: 5%;
        margin-top: 100px;

        .content {


            .blackbox {
                width: 90%;
                height: 700px;
                margin: 5%;

                background-color: var(--color-black);
                padding: 50px;

                display: flex;
                justify-content: center;
                align-items: center;

                .whitebox {
                    width: fit-content;
                    height: fit-content;
                    background-color: #fff;

                    h3 {
                        padding: 20px;
                    }

                }
            }
        }
    }

    @media screen and (max-width: $breakpoint-sm) {
        .projet {
            .contenu {
                h1 {
                    font-size: 3.75rem;
                    left: 10px;
                }
            }
        }

        .moodboard_container {
            .moodboard {
                max-width: 100%;
            }
        }

        .pro_crea {
            margin-top: 50px;
        }

        .p_article {
            max-width: 100%;
            margin-top: 50px;
            margin-left: 0;

            .content {
                padding: 20px;
            }
        }

        .making_of {
            max-width: 100%;
            margin-left: 0;
            margin-top: 50px;
    
            .content {
    
                .blackbox {
                    width: 90%;
                    height: 200px;
    
                    .whitebox {
                        h3 {
                            font-size: 1.125rem;
                            text-align: center;
                        }
    
                    }
                }
            }
        }
    }
}

/////////////////////////////////////////////////////////URBA
.urbania {
    .moodboard_container {
        margin-top: 150px;
        .moodboard {
            max-width: 80%;
            .content {
                .carousel2 {
                    img {
                        max-width: 50%;
                    }
                }
            }

        }
    }

    .p_article {
        margin: -20px 0 0 70px;
        max-width: 80%;

        .carousel {
            img {
                max-width: 50%;
            }
        }
    }

    .pro_crea {
        display: flex;
        justify-content: end;
        max-width: 100%;
        margin-top: -30px;

        .contenant2 {
            max-width: 75%;
            border: 2px solid var(--color-black);
            background-color: var(--color-primary);
            box-shadow: -12px 12px 9px 0px rgba(0, 0, 0, 0.25);
        }

        .parent {
            display: grid;
            grid-template-columns: 0.6fr 1fr;
            grid-template-rows: 1fr 0.2fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            overflow: hidden;
        }

        .txt {
            width: 100%;
            grid-area: 1 / 1 / 2 / 2;
            border-right: 2px solid var(--color-black);

            padding: 20px 30px;
        }

        img {
            grid-area: 1 / 2 / 2 / 3;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .bars {
            grid-area: 2 / 1 / 3 / 2;
            width: 100%;
            height: fit-content;
            overflow: hidden;
            border-top: 2px solid var(--color-black);
            border-right: 2px solid var(--color-black);
            height: 90px;
            background-color: var(--color-primary);

            .contenant {
                width: fit-content;
                height: 88px;
                display: flex;
                gap: 60px;
                align-items: center;

                .bar {
                    background-color: var(--color-black);
                    height: 160%;
                    width: 60px;
                    transform: rotate(30deg);
                }
            }
        }

        .div4 {
            grid-area: 2 / 2 / 3 / 3;
            border-top: 2px solid var(--color-black);
        }
    }
    
    @media screen and (max-width: $breakpoint-sm) {
        .moodboard_container {
            margin-top: 50px;
    
            .moodboard {
                max-width: 100%;
                margin-top: 0;
                .content {
                    padding: 0 20px 20px 20px;
                    .carousel2 {
                        img {
                            max-width: 100%;
                        }
                    }
                }
    
            }
        }

        .p_article {
            margin: 50px 0 ;
            max-width: 100%;
    
            .carousel {
                img {
                    max-width: 50%;
                }
            }
        }

        .pro_crea {
            display: block;
            margin-top: 50px;
    
            .contenant2 {
                max-width: 100%;
            }
    
            .parent {
                display: block;
            }
    
            .txt {
                border-right: none;
                padding: 20px;
            }
    
            img {
                display: block;
                border-bottom: none;
            }
        }
    }

}

strong {
    font-weight: 700;
}