.footer {

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: static;
  bottom: 0;
  width: 100%;

  margin-bottom: 100px;

  a {
    img {
      max-width: 50%;
    }

    display: flex;
    align-items: center;

    position: relative;


    padding: 35px;

    &::before {
      content: "";
      height: 450px;
      width: 2px;
      position: absolute;
      bottom: -70px;
      left: -2px;
      background-color: var(--color-black);
    }

    &::after {
      z-index: -1;
      content: "";
      height: 2px;
      width: 400px;
      position: absolute;
      bottom: -2px;
      left: -100px;
      background-color: var(--color-black);
    }

  }

  .rejoindre {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1px;


    &::before {
      content: "";
      height: 350px;
      width: 2px;
      position: absolute;
      bottom: -70px;
      right: -2px;
      background-color: var(--color-black);
    }

    &::after {
      z-index: -1;
      content: "";
      height: 2px;
      width: 500px;
      position: absolute;
      bottom: -2px;
      right: -100px;
      background-color: var(--color-black);
    }


    padding: 35px;
    padding-top: 200px;

    a {
      margin: 0;
      padding: 0;

      font-weight: 300;
      font-size: var(--font-size-content);


      transition: ease-in-out 0.1s;

      &:hover {
        filter: drop-shadow(-4px 4px 2px rgba(0, 0, 0, 0.75));
      }

      &::after {
        display: none;
      }

      &::before {
        display: none;
      }

    }

    p {
      margin: 0;
    }
  }

  @media screen and (max-width: $breakpoint-md) {
    width: calc(100% - 200px);
  }

  @media screen and (max-width: $breakpoint-sm) {
    width: calc(100% - 20px);
    padding: 50px 0;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 0;
    a{
      padding: 10px;
      img{
        height: 60px;
      }

      &::before {
        height: 100px;
        top: -20px;
      }
  
      &::after {
        width: 200px;
        top: -2px;
        left: -20px;
      }
    }

    .rejoindre {
      padding:  10px 10px ;
      align-items: start ;
      a, p {
        font-size: 0.875rem;
      }
      &::before {
        height: 150px;
        bottom: -20px;
      }
  
      &::after {
        height: 2px;
        width: 200px;
        right: -20px;
        background-color: var(--color-black);
      }
    }

  }

}

footer {
  display: flex;
  justify-content: center;
}