/* ==========================================================================
   header / component
   ========================================================================== */

.header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    padding: 20px 0;

    .nav{
        border-bottom: 2px solid var(--color-black);
        margin: 0;
        padding: 0;

        ul{
            display: flex;
            align-items: center;

            gap: 40px;

            margin: 0;

            li{
                list-style: none;
                align-items: baseline;

                line-height: 0.5;
            }
        }
    }
}

