/* ==========================================================================
   header / component
   ========================================================================== */

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    padding: 20px 0;

    .nav {
        margin: 0;
        padding: 0;

        .nav_desktop {
            border-bottom: 2px solid var(--color-black);
            display: flex;
            align-items: center;
            padding-left: 400px;


            margin: 0;

            li {
                list-style: none;
                align-items: baseline;

                line-height: 1.2;

                a {
                    display: block;
                    position: relative;
                    overflow: hidden;

                    padding-top: 40px;
                    padding-bottom: 0;
                    padding-left: 20px;
                    padding-right: 20px;


                    &::after {
                        content: '';
                        height: 40px;
                        width: 100%;
                        position: absolute;
                        bottom: -2px;
                        left: 0;
                        border: 2px solid var(--color-black);
                        transform: translateY(100%);
                        transition: ease-out 0.2s;

                    }

                    &:hover {
                        text-decoration: none;

                        &::after {
                            transform: translateY(0);

                        }
                    }

                }
            }

            @media screen and (max-width: $breakpoint-sm) {
                display: none;
            }
        }

        .nav_mobile {
            display: none;

            @media screen and (max-width: $breakpoint-sm) {
                display: flex;
            }
        }
    }
}