/* ==========================================================================
   header / component
   ========================================================================== */

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    padding: 20px 0;

    .nav {
        margin: 0;
        padding: 0;

        .nav_desktop {
            border-bottom: 2px solid var(--color-black);
            display: flex;
            align-items: center;
            padding-left: 400px;
            margin: 0;

            li {
                list-style: none;
                align-items: baseline;
                line-height: 1.2;

                a {
                    display: block;
                    position: relative;
                    overflow: hidden;

                    padding-top: 40px;
                    padding-bottom: 0;
                    padding-left: 20px;
                    padding-right: 20px;

                    &::after {
                        content: '';
                        height: 40px;
                        width: 100%;
                        position: absolute;
                        bottom: -2px;
                        left: 0;
                        border: 2px solid var(--color-black);
                        transform: translateY(100%);
                        transition: ease-out 0.2s;
                    }

                    &:hover {
                        text-decoration: none;

                        &::after {
                            transform: translateY(0);
                        }
                    }
                }
            }


        }

        .nav_mobile {
            display: none;

            li {
                list-style: none;
            }

            a {
                display: flex;
                flex-direction: column;
                height: 30px;
                justify-content: space-between;


            }


            .js-toggle{
                .nav-is-active & {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    
                }


            }
           

            .ligne_menu {
                height: 2px;
                width: 40px;
                background-color: black;
                z-index: 4;
                
                &:nth-child(2){
                    transition: all 0.2s ease-in-out;
                    .nav-is-active & {
                        transform: rotate(-45deg);

                    }
                }
                
                &:last-of-type{
                    transition: all 0.2s ease-in-out;

                    .nav-is-active & {
                        transform: rotate(45deg);
                    }
                }
               

                &:first-of-type{
                    transition: all 0.2s ease-in-out;
                    .nav-is-active & {
                        transform: scaleX(0);
                    }
                }

            }
        }

    }

    @media screen and (max-width: $breakpoint-md) {
        align-items: center;

        .logo {
            img {
                height: 80px;
                width: auto;
            }
        }

        .nav {
            position: relative;

            .nav_desktop {

                padding-left: 0;
                display: flex;
                flex-direction: column;
                position: fixed;
                height: 100vh;
                width: 100vw;
                top: 0;
                left: 0;
                z-index: 3;
                justify-content: center;
                align-items: center;
                background-color: var(--color-primary);

                transform: translateY(100vh);
                transition: all 0.4s ease-in-out;
                opacity: 0;

                .nav-is-active & {
                    transform: translateY(0);
                    opacity: 1;
                }
            }

            .nav_mobile {
                display: flex;

            }
        }
    }

    @media screen and (max-width: $breakpoint-sm) {
        align-items: center;

        .logo {
            img {
                height: 80px;
                width: auto;
            }
        }

        .nav {
            position: relative;

            .nav_desktop {

                padding-left: 0;
                display: flex;
                flex-direction: column;
                position: fixed;
                height: 100vh;
                width: 100vw;
                top: 0;
                left: 0;
                z-index: 3;
                justify-content: center;
                align-items: center;
                background-color: var(--color-primary);

                transform: translateY(100vh);
                transition: all 0.4s ease-in-out;
                opacity: 0;

                .nav-is-active & {
                    transform: translateY(0);
                    opacity: 1;
                }
            }

            .nav_mobile {
                display: flex;

            }
        }
    }

}