/* ==========================================================================
   icons / component
   ========================================================================== */

[class^='icon'] {
    fill: currentColor; // inherit color of its context
    display: block;
    flex: 0 0 auto; // prevent icon shrink/grow if in a flex parent
    stroke: transparent;
}

.icon--stroke {
    fill: transparent;
    stroke: currentColor;
}

.icon--xs {
    height: 1.7em;
    width: 1.7em;
}

.icon--sm {
    height: 3em;
    width: 3em;
}

.icon--md {
    height: 3.5em;
    width: 3.5em;
}

.icon--lg {
    height: 1.75em;
    width: 1.75em;
    @media screen and (max-width: $breakpoint-sm) {
        height: 1em;
        width: 1em;
    }
}

.icon--xl {
    height: 7em;
    width: 7em;
}
