/* ==========================================================================
   HEADINGS / ELEMENT
   ========================================================================== */

h1,
h2,
h3,
h5,
h6 {
    font-family: var(--font-primary);
}

h1 {
    font-size: var(--font-size-h1);

    text-transform: uppercase;
    color: var(--color-primary);
    -webkit-text-stroke: 0.1px black;
    letter-spacing: -2px;
    line-height: 80%;
    margin: 0;

    @media screen and (max-width: $breakpoint-sm) {
        font-size: 4rem;
    }
}

h2 {
    font-size: var(--font-size-h2);
    text-transform: uppercase;
    letter-spacing: 1.7px;

    @media screen and (max-width: $breakpoint-sm) {
        font-size: 2rem;
    }
}

h3 {
    font-size: var(--font-size-h3);
    text-transform: uppercase;
    margin: 0;
    line-height: 0.85;
    letter-spacing: 1.7px;

    @media screen and (max-width: $breakpoint-sm) {
        font-size: 1.50rem;
    }
}

h4 {
    font-size: var(--font-size-h4);
    font-family: var(--font-secondary);
    font-weight: 300;
    line-height: 1;
    margin: 0;


}

h5 {
    font-size: var(--font-size-h5);
    text-transform: uppercase;
    margin: 0;
    line-height: 0.85;
    letter-spacing: 1.7px;
}

h6 {
    font-size: var(--font-size-h6);
}

em {
    font-style: italic;
}


.tag {
    overflow: hidden;
    width: 100%;

    h3 {
        white-space: nowrap;

        animation: defilement4 3s infinite cubic-bezier(0.1, 0.8, 0.8, 0.1);

        &:first-of-type {
            animation: defilement3 3s infinite cubic-bezier(0.1, 0.8, 0.8, 0.1);
        }

        &:last-of-type {
            animation: defilement5 3s infinite cubic-bezier(0.1, 0.8, 0.8, 0.1);
        }

    }



}

.sous_titre {
    border-bottom: 2px solid var(--color-black);
    height: 80px;

    position: relative;
    overflow: hidden;

    .titre {
        position: absolute;
        bottom: -6px;
        left: 0;

        display: flex;
        gap: 15px;

        h3 {
            white-space: nowrap;
            animation: defilement 10s infinite linear;
            margin-right: 10px;
        }

        &::after {
            font-family: var(--font-primary);
            font-size: var(--font-size-h3);
            font-weight: 700;
            text-transform: uppercase;
            margin: 0;
            line-height: 0.85;
            letter-spacing: 1.7px;
            white-space: nowrap;

            position: absolute;
            top: 0;
            left: 0;
            content: attr(data-text);
            animation: defilement2 10s infinite linear;
        }
    }

}

.sous_titre2 {
    border-bottom: 1px solid var(--color-black);
    height: 80px;

    position: relative;
    overflow: hidden;

    .titre {
        position: absolute;
        bottom: -32px;
        left: 0;

        display: flex;
        gap: 15px;

        h2 {
            white-space: nowrap;
            animation: defilement 10s infinite linear;
            margin: 0 15px 0 0;
        }

        &::after {
            font-family: var(--font-primary);
            font-size: var(--font-size-h2);
            font-weight: 700;
            text-transform: uppercase;
            margin: 0;

            letter-spacing: 1.7px;
            white-space: nowrap;

            position: absolute;
            top: 0;
            left: 0;
            content: attr(data-text);
            animation: defilement2 10s infinite linear;

            @media screen and (max-width: $breakpoint-sm) {
                font-size: 2rem;
            }
        }

        @media screen and (max-width: $breakpoint-sm) {
            bottom: -14px;
        }
    }

}

@keyframes defilement {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -100%;
    }
}

@keyframes defilement2 {
    0% {
        margin-left: 100%;
    }

    100% {
        margin-left: 0%;
    }
}

@keyframes defilement3 {
    0% {
        margin-left: 100%;
    }

    100% {
        margin-left: -100%;
    }
}

@keyframes defilement4 {
    0% {
        margin-left: 110%;
    }

    100% {
        margin-left: -110%;
    }
}

@keyframes defilement5 {
    0% {
        margin-left: 120%;
    }

    100% {
        margin-left: -120%;
    }
}