/* ==========================================================================
   LINKS / ELEMENTS
   Style de base de tous les liens et bouton du site
   ========================================================================== */

a {
    color: inherit;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.7rem;
    @media screen and (max-width: $breakpoint-sm) {
       font-size: 1.125rem;
    }
}

.button{
    border: 2px solid var(--color-black);
    padding: 25px 65px;
    box-shadow: -12px 12px 9px 0px rgba(0, 0, 0, 0.25);

    display: block;
    position: relative;
    overflow: hidden;
    max-width: fit-content;

    &::before{
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--color-black);
        transform: translateY(100%);
        transition: ease-out 0.2s;
        z-index: -1;
    }

    &:hover {
        text-decoration: none;
        color: var(--color-primary);
        z-index: 1;
        &::before {
            transform: translateY(0);
            
        }
    }
}
