/* ==========================================================================
   WRAPPER / ELEMENT
   ========================================================================== */

.wrapper {
    max-width: 1780px;
    width: calc(100% - var(--spacing-md));
    margin: 0 auto;
    @media screen and (max-width: $breakpoint-md) {
        // max-width: 1480px;
        width: calc(100% - var(--spacing-xl));
    }
}
.wrapper2 {
    max-width: 1480px;
    width: calc(100% - var(--spacing-md));
    margin: auto;
    @media screen and (max-width: $breakpoint-md) {
        // max-width: 1266px;
        width: calc(100% - var(--spacing-xl));
    }
}

