/* ==========================================================================
   WRAPPER / ELEMENT
   ========================================================================== */

.wrapper {
    max-width: 1780px;
    width: calc(100% - var(--spacing-md));
    margin: 0 auto;
    @media screen and (max-width: $breakpoint-md) {
        width: calc(100% - var(--spacing-lg));
    }
    
    @media screen and (max-width: $breakpoint-sm) {
        width: calc(100% - var(--spacing-md));
    }
}
.wrapper2 {
    max-width: 1480px;
    width: calc(100% - var(--spacing-md));
    margin: auto;
    @media screen and (max-width: $breakpoint-md) {
        width: calc(100% - var(--spacing-lg));
    }
    @media screen and (max-width: $breakpoint-md) {
        width: calc(100% - var(--spacing-md));
    }
}

