{% include '_partials/_header.html' with { title: 'A propos' } %}
<section class="wrapper2"> 
    <div class="propos">
        
        <div class="hero grid">
            <div class="contenu">
                <div class="name">
                    <h1>Maxime</h1>
                    <h1>Brousseau</h1>
                    <h1>carnevale</h1>
                </div> 
                <div class="reseau_sociaux">
                    <a href="github.com" class="github">
                        <svg class="icon icon--lg">
                            <use xlink:href="#icon-github"></use>
                        </svg>
                    </a>
                    <div class="ligne"></div>
                    <a href="instagram.com" class="insta">
                        <svg class="icon icon--lg">
                            <use xlink:href="#icon-insta"></use>
                        </svg>
                    </a>
                    <div class="ligne"></div>
                    <a href="facebook.com" class="fb">
                        <svg class="icon icon--lg">
                            <use xlink:href="#icon-fb"></use>
                        </svg>
                    </a>
                    <div class="ligne"></div>
                    <a href="linkedin.com" class="lnkd">
                        <svg class="icon icon--lg">
                            <use xlink:href="#icon-link"></use>
                        </svg>
                    </a>
                </div>
                
                    <div class="tag">                        
                            <h3>Développeur Web : Designer</h3>
                            <h3>Développeur Web : Designer</h3>
                            <h3>Développeur Web : Designer</h3>

                    </div>    
                  
                
            </div>
            <div class="max">
                <img src="assets/images/max.jpg" alt="max"> 
            </div>
            <div class="div3"><div class="essai"></div> </div>
            <div class="div4"> </div>
        </div>
        <div class="cercles_bleu">
            <div class="cercle_bleu1">
                <div class="c1"></div>
                
            </div>
            <div class="cercle_bleu2">
                <div class="c1"></div>
                
            </div>
        </div>
    </div>

    <div class="ambition">
            <div class="contenue_ambition">
                <div class="sous_titre">
                    <div class="titre" data-text=" Ambitions - Ambitions - Ambitions - Ambitions - ">
                        <h3> Ambitions - Ambitions - Ambitions - Ambitions - </h3>
                    </div>
                </div> 
                <p>
                    En 2024, pour moi, ça veut dire la fin des études. Enfin je commence à travailler. Mes aspirations sont grande et je connais mon potentiel. J’ai toujours été très compétitif dans tout ce que j’ai entrepris dans ma vie et le monde du travail n’est que la prochaine étape de la compétition.
                </p>
            </div>    
    </div>

    <div class="logiciel">
        <div class="contenue_logiciel">
            <div class="sous_titre">
                <div class="titre" data-text=" Logiciels - Logiciels - Logiciels - Logiciels - ">
                <h3>Logiciels - Logiciels - Logiciels - Logiciels - </h3></div>
            </div>
           
            <div class="cards">
                <div class="card">
                    <div class="top">
                        <h4>VS code</h4>
                        <div class="ligne"></div>
                        <svg class="icon icon--xl vscode">
                            <use xlink:href="#icon-vscode"></use>
                        </svg>
                    </div>
                    <div class="bottom">
                        <h4>
                            Confiance
                        </h4>
                        <div class="bar">
                            <div class="niveau_vscode"></div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="top">
                        <h4>Figma</h4>
                        <div class="ligne"></div>
                        <svg class="icon icon--xl figma">
                            <use xlink:href="#icon-figma"></use>
                        </svg>
                    </div>
                    <div class="bottom">
                        <h4>
                            Confiance
                        </h4>
                        <div class="bar">
                            <div class="niveau_figma"></div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="top">
                        <h4>Photoshop</h4>
                        <div class="ligne"></div>
                        <svg class="icon icon--xl psd">
                            <use xlink:href="#icon-psd"></use>
                        </svg>
                    </div>
                    <div class="bottom">
                        <h4>
                            Confiance
                        </h4>
                        <div class="bar">
                            <div class="niveau_psd"></div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="top">
                        <h4>Blender</h4>
                        <div class="ligne"></div>
                        <svg class="icon icon--xl blender">
                            <use xlink:href="#icon-blender"></use>
                        </svg>
                    </div>
                    <div class="bottom">
                        <h4>
                            Confiance
                        </h4>
                        <div class="bar">
                            <div class="niveau_blender"></div>
                        </div>
                    </div>
                </div>
            </div>  
        
        </div>    
        <div class="lang">
            <div class="languages">
                
                <svg class="icon icon--md">
                    <use xlink:href="#icon-html"></use>
                </svg>
                
                <div class="ligne"></div>
                
                <svg class="icon icon--md">
                    <use xlink:href="#icon-css"></use>
                </svg>
                
                <div class="ligne"></div>
                
                <svg class="icon icon--sm">
                    <use xlink:href="#icon-js"></use>
                </svg>
                
                <div class="ligne"></div>
                
                <svg class="icon icon--md">
                    <use xlink:href="#icon-php"></use>
                </svg>
                
            </div>
        </div>
        <div class="cercles_orange">
            <div class="cercle_orange1">
                <div class="c1"></div>
                
            </div>
            <div class="cercle_orange2">
                <div class="c1"></div>
                
            </div>
        </div>
    </div>

    <div class="qualite">
        <div class="contenu">
            <div class="left">
                <div class="sous_titre">
                    <div class="titre" data-text=" Qualités - Qualités - Qualités - Qualités - ">
                    <h3> Qualités - Qualités - Qualités - Qualités - </h3></div>
                </div>
                <div class="choix">
                    <div class="modal">
                        <h5>CRÉATIF</h5>
                        <a class="plus">
                            <div></div>
                            <div></div>
                        </a>
                    </div>
                    <div class="modal">
                        <h5>Sociable</h5>
                        <a class="plus">
                            <div></div>
                            <div></div>
                        </a>
                    </div>
                    <div class="modal">
                        <h5>Souci du détail</h5>
                        <a class="plus">
                            <div></div>
                            <div></div>
                        </a>
                    </div>
                    <div class="modal">
                        <h5>Ouverture a la critique</h5>
                        <a class="plus">
                            <div></div>
                            <div></div>
                        </a>
                    </div>
                </div>
            </div>

        <div class="right">
            
        </div>
    </div>
    </div>
    
</section>   
{% include '_partials/_footer.html' %}