{% include '_partials/_header.html' with { title: 'A propos' } %}
    <section class="propos wrapper">
        <div class="main_title">
            
            
        </div>
        <div class="hero grid">
            <div class="contenue">
                <div class="name">
                    <h1>Maxime</h1>
                    <h1>Brousseau</h1>
                    <h1>carnevale</h1>
                </div> 
                <div class="reseau_sociaux">
                    <a href="github.com" class="github">
                        <svg class="icon icon--lg">
                            <use xlink:href="#icon-github"></use>
                        </svg>
                    </a>
                    <div class="ligne"></div>
                    <a href="instagram.com" class="insta">
                        <svg class="icon icon--lg">
                            <use xlink:href="#icon-insta"></use>
                        </svg>
                    </a>
                    <div class="ligne"></div>
                    <a href="facebook.com" class="fb">
                        <svg class="icon icon--lg">
                            <use xlink:href="#icon-fb"></use>
                        </svg>
                    </a>
                    <div class="ligne"></div>
                    <a href="linkedin.com" class="lnkd">
                        <svg class="icon icon--lg">
                            <use xlink:href="#icon-link"></use>
                        </svg>
                    </a>
                </div>
                <div class="tag">
                    <h3>Développeur Web : Designer</h3>
                    <h3>Développeur Web : Designer</h3>
                    <h3>Développeur Web : Designer</h3>
                </div>
            </div>
            <div class="max">
                <img src="assets/images/max.jpg" alt="max"> 
            </div>
            <div class="div3"><div></div> </div>
            <div class="div4"> </div>
        </div>
    </section>
{% include '_partials/_footer.html' %}