{% include '_partials/_header.html' with { title: 'We Ride' } %}
<div class="line_propos">
  <svg
    width="2059"
    viewbox="0 0 2059 3398"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    data-component="Line"
  >
    <path
      id="path"
      d="M2056.5 181.5C1957.67 88.4999 1743.5 -69.6001 1677.5 41.9999C1595 181.5 1445 290 1326.5 181.5C1208 73 599.001 6.49997 328 161C97.9439 292.157 -35.9995 1213.5 609.001 1360.5C1254 1507.5 1883.5 1618 1881 1928C1878.5 2238 524.266 2470.75 232.5 2480C-177.5 2493 20.9998 2857.02 374.5 2980.5C692 3091.4 1849.45 2774.5 1896.5 3040C1919.8 3171.5 1836.5 3316.83 1796 3396"
      stroke="black"
      stroke-width="3"
    />
  </svg>
</div>
<section class="de_base audio_technica wrapper2" data-component="Scrolly">
  <div class="projet grid">
    <div class="contenu">
      <div class="reseau_sociaux">
        
          <svg class="icon icon--lg">
            <use xlink:href="#icon-figma"></use>
          </svg>
        
        <div class="ligne"></div>
       
          <svg class="icon icon--lg">
            <use xlink:href="#icon-illu"></use>
          </svg>
        
      </div>

      <h1>Audio<br />technica</h1>

      <a
          href="https://www.figma.com/proto/WvWvOmzsC7AxDR55ECLugS/BrousseauC_Maxime_TP2_wireframe?type=design&node-id=1278-141&t=xlXEp9Qnifcm5ktT-1&scaling=min-zoom&page-id=87%3A5454&starting-point-node-id=1278%3A141&mode=design"
          class="button"
          target="_blank"
        >
          <svg class="icon icon--lg">
            <use xlink:href="#icon-figma"></use>
          </svg>
        </a>

      <div class="tag">
        <h3>Projet design</h3>
        <h3>Projet design</h3>
        <h3>Projet design</h3>
      </div>
    </div>
    <div class="max">
      <img src="assets/images/at_thumbnail_two.jpg" alt="max" />
    </div>
    <div class="bars">
      <div class="contenant">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </div>
    <div class="div4"></div>

    <div class="cercles_rose_1">
      <div class="cercle_rose1_1">
        <div class="c1" data-scrolly="fromTop"></div>
        <div class="c2" data-scrolly="fromTop2"></div>
        <div class="c3" data-scrolly="fromTop3"></div>
      </div>
      <div class="cercle_rose2_1">
        <div class="c1" data-scrolly="fromTop"></div>
        <div class="c2" data-scrolly="fromTop2"></div>
        <div class="c3" data-scrolly="fromTop3"></div>
      </div>
    </div>
  </div>

  <div class="objectif">
    <div class="sous_titre">
      <div class="titre" data-text=" Objectif - Objectif - Objectif - ">
        <h3>Objectif - Objectif - Objectif -</h3>
      </div>
    </div>
    <div class="contenu">
      <p>
        Le projet "Audio Technica" avait pour objectif<br />de créer une landing
        page pour un produit.
      </p>
      <p>
        Le projet exigeait au minimum une image du produit, le reste était
        plutôt libre. Un projet libre est plaisant mais peut parfois être
        difficile.
      </p>
    </div>
  </div>

  <div class="moodboard_container">
    <div class="moodboard">
      <div class="sous_titre">
        <div class="titre" data-text=" Moodboard - Moodboard - Moodboard - ">
          <h3>Moodboard - Moodboard - Moodboard -</h3>
        </div>
      </div>

      <div class="content">
        <p>
          Comme on peut le voir avec mes moodboards, j'ai opté pour des couleurs
          plus <strong>claires</strong> et des polices
          <strong>traditionnelles</strong> mais propres.
        </p>
        <div class="swiper" data-component="Carousel" data-split>
          <div class="carousel2 swiper-wrapper">
            <div class="swiper-slide"><img src="assets/images/styles_at.jpg" alt="Guide de styles" /></div>
            <div class="swiper-slide"><img src="assets/images/moodboard_at.jpg" alt="Moodboard" /></div>
          </div>
        </div>
        
      </div>
    </div>
  </div>

  <div class="p_article">
    <div class="sous_titre">
      <div
        class="titre"
        data-text=" Landing page - Landing page - Landing page - "
      >
        <h3>Landing page - Landing page - Landing page -</h3>
      </div>
    </div>

    <div class="content">
      <p>
        Ce landing page m'a permis d'explorer l'ajout d'un effet de 3D sur le
        site. Étant l'un de mes tout premiers projets de design, je suis content
        du résultat. J'ai tenté de garder le tout le plus professionnel
        possible.
      </p>
      <div class="carousel">
        <img src="assets/images/landing_page.jpg" alt="bleu" />
        <div class="hero">
          <p>
            Ici, j'ai opté pour un <br />
            carousel pour choisir la couleur du produit.
          </p>
        </div>
        <div class="feat">
          <p>On peut voir un peu de 3D ici.</p>
        </div>
        <div class="soft">
          <p>Les installations externes sont faciles à trouver.</p>
        </div>
        <div class="conx">
          <p>Des produits connexes sont à disposition du client.</p>
        </div>
        <div class="foot">
          <p>Le footer donne accès à tout le support nécessaire.</p>
        </div>
      </div>
    </div>

    <div class="cercles_rose_2">
      <div class="cercle_rose1_2">
        <div class="c1" data-scrolly="fromTop"></div>
        <div class="c2" data-scrolly="fromTop2"></div>
        <div class="c3" data-scrolly="fromTop3"></div>
      </div>
      <div class="cercle_rose2_2">
        <div class="c1" data-scrolly="fromTop"></div>
        <div class="c2" data-scrolly="fromTop2"></div>
        <div class="c3" data-scrolly="fromTop3"></div>
      </div>
    </div>
  </div>

  <div class="pro_crea">
    <div class="contenant2">
      <div class="sous_titre">
        <div
          class="titre"
          data-text=" Mockup - Mockup - Mockup - Mockup -  Mockup - "
        >
          <h3>Mockup - Mockup - Mockup - Mockup - Mockup -</h3>
        </div>
      </div>

      <div class="parent">
        <div class="txt">
          <p>
            Mon processus créatif consistait à créer une landing page propre,
            centrée principalement sur le produit.<br /><br />
            Je me suis inspiré de sites tels que Nike ou Apple, qui maintiennent
            la majorité de leur site web épuré.
          </p>
        </div>

        <img src="assets/images/mockup_at.jpg" alt="mockup" />

        <div class="bars">
          <div class="contenant">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
        </div>
        <div class="div4"></div>
      </div>
    </div>
  </div>
</section>
{% include '_partials/_footer.html' %}
