{% include '_partials/_header.html' with { title: 'Recette en pot' } %}
<div class="line_propos">
  <svg
    width="2059"
    viewbox="0 0 2059 3398"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    data-component="Line"
  >
    <path
      id="path"
      d="M2056.5 181.5C1957.67 88.4999 1743.5 -69.6001 1677.5 41.9999C1595 181.5 1445 290 1326.5 181.5C1208 73 599.001 6.49997 328 161C97.9439 292.157 -35.9995 1213.5 609.001 1360.5C1254 1507.5 1883.5 1618 1881 1928C1878.5 2238 524.266 2470.75 232.5 2480C-177.5 2493 20.9998 2857.02 374.5 2980.5C692 3091.4 1849.45 2774.5 1896.5 3040C1919.8 3171.5 1836.5 3316.83 1796 3396"
      stroke="black"
      stroke-width="3"
    />
  </svg>
</div>
<section class="de_base recette_en_pot wrapper2" data-component="Scrolly">
  <div class="projet grid">
    <div class="contenu">
      <div class="reseau_sociaux">
        <a href="https://github.com/tim-h22-cw4/cw4_tp3-recettes-MaximeBrousseau.git" target="_blank" class="github">
          <svg class="icon icon--lg">
            <use xlink:href="#icon-github"></use>
          </svg>
        </a>
        <div class="ligne"></div>
        
          <svg class="icon icon--lg">
            <use xlink:href="#icon-vscode"></use>
          </svg>
       
        <div class="ligne"></div>
        <a href="https://www.figma.com/proto/424IbCzOMbdpYysgA8SIHF/maxime?type=design&node-id=1445-667&t=7smKb4zZPb8o7PW4-1&scaling=contain&page-id=616%3A397&mode=designm" target="_blank" class="figma">
          <svg class="icon icon--lg">
            <use xlink:href="#icon-figma"></use>
          </svg>
        </a>
        <div class="ligne"></div>
        
          <svg class="icon icon--lg">
            <use xlink:href="#icon-illu"></use>
          </svg>
       
      </div>

      <h1>Recette<br />en pot</h1>

      <div class="tag">
        <h3>Projet design/web</h3>
        <h3>Projet design/web</h3>
        <h3>Projet design/web</h3>
      </div>
    </div>
    <div class="max">
      <img src="assets/images/rep_thumbnail.jpg" alt="max" />
    </div>
    <div class="bars">
      <div class="contenant">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </div>
    <div class="div4"></div>

    <div class="cercles_turq_1">
      <div class="cercle_turq1_1">
        <div class="c1" data-scrolly="fromTop"></div>
        <div class="c2" data-scrolly="fromTop2"></div>
        <div class="c3" data-scrolly="fromTop3"></div>
      </div>
      <div class="cercle_turq2_1">
        <div class="c1" data-scrolly="fromTop"></div>
        <div class="c2" data-scrolly="fromTop2"></div>
        <div class="c3" data-scrolly="fromTop3"></div>
      </div>
    </div>
  </div>

  <div class="objectif">
    <div class="sous_titre">
      <div class="titre" data-text=" Objectif - Objectif - Objectif - ">
        <h3>Objectif - Objectif - Objectif -</h3>
      </div>
    </div>
    <div class="contenu">
      <p>
        Le projet <strong>"Recette en pot"</strong> a été réalisé dans le cadre
        d'un cours de web. L'objectif était de <strong>coder</strong> et
        <strong>designer</strong> une refonte du site pour l'entreprise Recette
        en pot.
      </p>
      <p>
        Il fallait créer un site web fonctionnel complet en utilisant un
        <strong>moodboard fourni</strong>. Le site devait comporter un total de
        <strong>5 pages</strong> : une page d'accueil, une page de campagne, une
        page de campagnes en cours, une page de boutique et une page de
        formulaire. Le formulaire devait également être fonctionnel.
      </p>
    </div>
  </div>

  <div class="moodboard_container">
    <div class="moodboard">
      <div class="sous_titre">
        <div class="titre" data-text=" Moodboard - Moodboard - Moodboard - ">
          <h3>Moodboard - Moodboard - Moodboard -</h3>
        </div>
      </div>

      <div class="content">
        <p>
          Pour ce projet, le moodboard était <strong>imposé</strong>,<br />
          mais, la possibilité d'être <strong>créatif</strong> était toujours
          présente.
        </p>
        <img src="assets/images/moodboard_rep.jpg" alt="Moodboard" />
      </div>
    </div>
    <div class="cercles_turq_2">
      <div class="cercle_turq1_2">
        <div class="c1" data-scrolly="fromTop"></div>
        <div class="c2" data-scrolly="fromTop2"></div>
        <div class="c3" data-scrolly="fromTop3"></div>
      </div>
      <div class="cercle_turq2_2">
        <div class="c1" data-scrolly="fromTop"></div>
        <div class="c2" data-scrolly="fromTop2"></div>
        <div class="c3" data-scrolly="fromTop3"></div>
      </div>
    </div>
  </div>

  <div class="pro_crea">
    <div class="contenant2">
      <div class="sous_titre">
        <div
          class="titre"
          data-text=" Mockup - Mockup - Mockup - Mockup -  Mockup - "
        >
          <h3>Mockup - Mockup - Mockup - Mockup - Mockup -</h3>
        </div>
      </div>

      <div class="parent">
        <div class="txt">
          <p>
            Mon <strong>processus créatif</strong> fut simple,<br />
            j'ai cherché à utiliser autant de lignes que possible pour guider
            l'utilisateur. <br /><br />
            J'ai beaucoup apprécié travailler sur un site du
            <strong>début</strong> à la <strong>fin</strong> pour la première
            fois.
          </p>
        </div>

        <img src="assets/images/mockup_rep.jpg" alt="mockup" />

        <div class="bars">
          <div class="contenant">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
        </div>
        <div class="div4"></div>
      </div>
    </div>
  </div>

  <div class="p_article">
    <div class="sous_titre">
      <div
        class="titre"
        data-text=" Tout les pages - Tout les pages - Tout les pages - "
      >
        <h3>Tout les pages - Tout les pages - Tout les pages -</h3>
      </div>
    </div>

    <div class="content">
      <p>Voici une vue rapide de la <strong>refonte</strong> du site.</p>

      <div class="comparaison">
        <h3>Avant</h3>
        <img src="assets/images/avant.jpg" alt="bleu" />

        <h3>Après</h3>
        <img src="assets/images/tout_les_pages.jpg" alt="bleu" />
      </div>
    </div>
    
  </div>
</section>
{% include '_partials/_footer.html' %}
