{% include '_partials/_header.html' with { title: 'We Ride' } %}
<div class="line_propos">
  <svg
    width="2059"
    viewbox="0 0 2059 3398"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    data-component="Line"
  >
    <path
      id="path"
      d="M2056.5 181.5C1957.67 88.4999 1743.5 -69.6001 1677.5 41.9999C1595 181.5 1445 290 1326.5 181.5C1208 73 599.001 6.49997 328 161C97.9439 292.157 -35.9995 1213.5 609.001 1360.5C1254 1507.5 1883.5 1618 1881 1928C1878.5 2238 524.266 2470.75 232.5 2480C-177.5 2493 20.9998 2857.02 374.5 2980.5C692 3091.4 1849.45 2774.5 1896.5 3040C1919.8 3171.5 1836.5 3316.83 1796 3396"
      stroke="black"
      stroke-width="3"
    />
  </svg>
</div>
<section class="de_base b_industries wrapper2" data-component="Scrolly">
  <div class="projet grid">
    <div class="contenu">
      <div class="reseau_sociaux">
        <a href="github.com" class="github">
          <svg class="icon icon--lg">
            <use xlink:href="#icon-github"></use>
          </svg>
        </a>
        <div class="ligne"></div>
        <a href="instagram.com" class="vscode">
          <svg class="icon icon--lg">
            <use xlink:href="#icon-vscode"></use>
          </svg>
        </a>
        <div class="ligne"></div>
        <a href="instagram.com" class="figma">
          <svg class="icon icon--lg">
            <use xlink:href="#icon-figma"></use>
          </svg>
        </a>
      </div>

      <h1>B<br />industries</h1>

      <div class="tag">
        <h3>Projet design/web</h3>
        <h3>Projet design/web</h3>
        <h3>Projet design/web</h3>
      </div>
    </div>
    <div class="max">
      <img src="assets/images/binc_thumbnail.jpg" alt="thumbnail" />
    </div>
    <div class="bars">
      <div class="contenant">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </div>
    <div class="div4"></div>

    <div class="cercles_gris_1">
      <div class="cercle_gris1_1">
        <div class="c1" data-scrolly="fromTop"></div>
        <div class="c2" data-scrolly="fromTop2"></div>
        <div class="c3" data-scrolly="fromTop3"></div>
      </div>
      <div class="cercle_gris2_1">
        <div class="c1" data-scrolly="fromTop"></div>
        <div class="c2" data-scrolly="fromTop2"></div>
        <div class="c3" data-scrolly="fromTop3"></div>
      </div>
    </div>
  </div>

  <div class="objectif">
    <div class="sous_titre">
      <div class="titre" data-text=" Objectif - Objectif - Objectif - ">
        <h3>Objectif - Objectif - Objectif -</h3>
      </div>
    </div>
    <div class="contenu">
      <p>
        B-Industries est le fruit d'un événement web appelé le WebJam. Un
        marathon de <strong>48 heures</strong> intensif de web avec un objectif
        claire : créer un objet culinaire, lui designer un site web complet, et
        livrer le site fonctionnel.
      </p>
      <p>
        Ce travail est impossible à réaliser seul. C'est pourquoi je tiens à
        remercier les <strong>trois coéquipiers</strong> qui ont contribué à ce projet. La tâche
        est ardue, mais réalisable. Une fin de semaine de stress et plaisir. 
      </p>
    </div>
  </div>
<!-- corriger texte  -->
  <div class="moodboard_container">
    <div class="moodboard">
      <div class="sous_titre">
        <div
          class="titre"
          data-text=" Design - Design - Design - Design - Design - Design -"
        >
          <h3>Design - Design - Design - Design - Design - Design -</h3>
        </div>
      </div>

      <div class="content">
        <p>
          Le design reposait completement sur mes épaules. Il fallait agir
          <strong>vite</strong> pour permettre a mon équipe de commencer a
          coder. Le tout a été réaliser en <strong>4h intensif</strong>. Je suis
          plutôt fier du résultat.
        </p>

        <img src="assets/images/design_binc.png" alt="design" />
      </div>
    </div>
  </div>

  <div class="pro_crea">
    <div class="contenant2">
      <div class="sous_titre">
        <div
          class="titre"
          data-text=" Programmation - Programmation - Programmation -"
        >
          <h3>Programmation - Programmation - Programmation -</h3>
        </div>
      </div>

      <div class="parent">
        <div class="txt">
          <p>
            Ensuite c'était le temps de programmer le site web. Il fallait
            programmer <strong>html</strong> , <strong>css</strong>,
            <strong>javascript</strong> et <strong>php</strong> en peu de temps.
            malgrer tout cela nous avons rendu un <br />site fonctionnel.
            <br /><br />
            Mais il ne faut tout de même pas oublier de rire un peu aussi.
          </p>

          <a href="https://webjam.dectim.ca/projets/a23/jellomo/" class="button"
            >Voir site</a
          >
        </div>

        <img src="assets/images/rire.jpg" alt="mockup" />

        <div class="bars">
          <div class="contenant">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
        </div>
        <div class="div4"></div>
      </div>
    </div>
  </div>

  <div class="p_article">
    <div class="sous_titre">
      <div
        class="titre"
        data-text=" Présentation - Présentation - Présentation - Présentation -"
      >
        <h3>Présentation - Présentation - Présentation - Présentation -</h3>
      </div>
    </div>

    <div class="content">
      <p>
        Après 48h de <strong>travail acharné</strong> c'était le temps de
        présenter notre produit. La <strong>présentation</strong> m'a permis de
        voir c'était quoi présenter un projet web. J'ai appris que bien
        présenter un projet est aussi <strong>important</strong> que le projet
        lui même.
      </p>

      <img src="assets/images/presentation.jpg" alt="presentation" />
    </div>

    <div class="cercles_gris_2">
      <div class="cercle_gris1_2">
        <div class="c1" data-scrolly="fromTop"></div>
        <div class="c2" data-scrolly="fromTop2"></div>
        <div class="c3" data-scrolly="fromTop3"></div>
      </div>
      <div class="cercle_gris2_2">
        <div class="c1" data-scrolly="fromTop"></div>
        <div class="c2" data-scrolly="fromTop2"></div>
        <div class="c3" data-scrolly="fromTop3"></div>
      </div>
    </div>
  </div>

  <div class="making_of">
    <div class="sous_titre">
      <div
        class="titre"
        data-text=" Making of - Making of - Making of - Making of -"
      >
        <h3>Making of - Making of - Making of - Making of -</h3>
      </div>
    </div>
    <div class="content">
      <div class="blackbox">
        <div class="whitebox">
          <h3>En cour de production</h3>
        </div>
      </div>
    </div>
  </div>
</section>
{% include '_partials/_footer.html' %}
