{% include '_partials/_header.html' with { title: 'Projets' } %}

    <div class="line_propos" >

        
            
            
            <svg width="1911" height="5819" viewbox="0 0 1911 5619" fill="none" xmlns="http://www.w3.org/2000/svg" data-component="Line">
                <path id="path" d="M17 79.0001C-29 29.5001 10.5 -46.1999 536.5 47.0001C1194 163.5 1617.5 42 1771.5 185C1925.5 328 1893 942.5 1861.5 1388C1830 1833.5 1734 1886.5 1861.5 2231C1989 2575.5 1814.5 3392 1819.5 3598.5C1824.5 3805 1898.5 3969.5 1400.5 4250.5C902.5 4531.5 1092.5 5416.5 1130 5618" stroke="black" stroke-width="4"/>
                </svg>
                
    </div>
<section class="wrapper2 projets" data-component="Scrolly">
    <h1>Projets</h1>
    <div class="projet">
        <div class="grid">
        <div class="contenu">
            
                <div class="reseau_sociaux">
                    
                        <svg class="icon icon--lg">
                            <use xlink:href="#icon-figma"></use>
                        </svg>
                    
                    <div class="ligne"></div>
                    
                        <svg class="icon icon--lg">
                            <use xlink:href="#icon-illu"></use>
                        </svg>
                    
                    
                    
                </div>

                <div class="sous_titre2">
                    <div class="titre" data-text=" we ride - we ride - we ride - we ride - ">
                        <h2> we ride - we ride - we ride - we ride - </h2>
                    </div>
                </div> 

                <div class="info">
                    <p class="desc">WeRide n'est pas seulement un projet de design, c'est une exploration visuelle qui nous plonge dans l'univers dynamique de la mobilité moderne. WeRide est l'incarnation de cette créativité et de cette passion, un projet qui marie l'art du design avec la fascination pour le vélo.</p>
                    <a href="fiche_wr.html" class="button">Voir plus</a>
                </div>
                
            
                <div class="tag">                        
                        <h3>Projet design</h3>
                </div>    
              
            
        </div>
        <div class="max">
            <img src="assets/images/wr_thumbnail.jpg" alt="max"> 
        </div>
        <div class="bars">
            <div class="contenant">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>   
        </div>
        <div class="div4"> </div>
    </div>
        <div class="cercles_beige_2">
            <div class="cercle_beige1_2" >
                <div class="c1" data-scrolly="fromTop"></div>
                <div class="c2" data-scrolly="fromTop2"></div>
                <div class="c3" data-scrolly="fromTop3"></div>
                
            </div>
            <div class="cercle_beige2_2">
                <div class="c1" data-scrolly="fromTop"></div>
                <div class="c2" data-scrolly="fromTop2"></div>
                <div class="c3" data-scrolly="fromTop3"></div>
                
            </div>
        </div>
    
    </div>
    <div class="projet option2">
        <div class="grid">
        <div class="contenu deuxieme">
            
                <div class="reseau_sociaux2">
                   
                        <svg class="icon icon--lg">
                            <use xlink:href="#icon-github"></use>
                        </svg>
                    
                    <div class="ligne"></div>
                    
                        <svg class="icon icon--lg">
                            <use xlink:href="#icon-vscode"></use>
                        </svg>
                    
                    <div class="ligne"></div>
                   
                        <svg class="icon icon--lg">
                            <use xlink:href="#icon-figma"></use>
                        </svg>
                    
                    <div class="ligne"></div>
                    
                        <svg class="icon icon--lg">
                            <use xlink:href="#icon-illu"></use>
                        </svg>
                    
   
                </div>

                <div class="sous_titre2">
                    <div class="titre" data-text=" Recette en pot - Recette en pot - Recette en pot - ">
                        <h2> Recette en pot - Recette en pot - Recette en pot - </h2>
                    </div>
                </div> 

                <div class="info2">
                    <p class="desc">"Recette en Pot" est l'incarnation de cette fusion délicieuse, un projet qui mélange l'art du design avec l'authenticité d'une cuisine faite maison. Que vous soyez un amateur de design, un passionné de gastronomie, ou simplement un curieux gourmet, ce projet promet de vous éveiller.</p>
                    <a href="fiche_rep.html" class="button">Voir plus</a>
                </div>
                
            
                <div class="tag">                        
                        <h3>Projet design / Web</h3>
                </div>    
              
            
        </div>
        <div class="max">
            <img src="assets/images/rep_thumbnail.jpg" alt="max"> 
        </div>
        <div class="bars">
            <div class="contenant">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>   
        </div>
        <div class="div4"> </div>
    </div>
        <div class="cercles_turq">
            <div class="cercle_turq1" >
                <div class="c1" data-scrolly="fromTop"></div>
                <div class="c2" data-scrolly="fromTop2"></div>
                <div class="c3" data-scrolly="fromTop3"></div>
                
            </div>
            <div class="cercle_turq2">
                <div class="c1" data-scrolly="fromTop"></div>
                <div class="c2" data-scrolly="fromTop2"></div>
                <div class="c3" data-scrolly="fromTop3"></div>
                
            </div>
        </div>
        
    </div>
    <div class="projet">
        <div class="grid">
             <div class="contenu">
            
                <div class="reseau_sociaux">
                    
                        <svg class="icon icon--lg">
                            <use xlink:href="#icon-figma"></use>
                        </svg>
                   
                    <div class="ligne"></div>
                        <svg class="icon icon--lg">
                            <use xlink:href="#icon-illu"></use>
                        </svg>
                </div>

                <div class="sous_titre2">
                    <div class="titre" data-text=" Audio technica - Audio technica - Audio technica - ">
                        <h2> Audio technica - Audio technica - Audio technica - </h2>
                    </div>
                </div> 

                <div class="info">
                    <p class="desc">"Audio Technica" incarne la fusion parfaite entre la forme et la fonction, où le design se fait le compagnon idéal de la pureté du son. Bienvenue dans l'univers "Audio Technica", où le design s'allie à la mélodie pour créer une symphonie visuelle inoubliable.</p>
                    <a href="fiche_at.html" class="button">Voir plus</a>
                </div>
                
            
                <div class="tag">                        
                        <h3>Projet design</h3>
                </div>    
              
            
        </div>
        <div class="max">
            <img src="assets/images/at_thumbnail.jpg" alt="max"> 
        </div>
        <div class="bars">
            <div class="contenant">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>   
        </div>
        <div class="div4"> </div>
        </div>
        <div class="cercles_rose">
            <div class="cercle_rose1" >
                <div class="c1" data-scrolly="fromTop"></div>
                <div class="c2" data-scrolly="fromTop2"></div>
                <div class="c3" data-scrolly="fromTop3"></div>
                
            </div>
            <div class="cercle_rose2">
                <div class="c1" data-scrolly="fromTop"></div>
                <div class="c2" data-scrolly="fromTop2"></div>
                <div class="c3" data-scrolly="fromTop3"></div>
                
            </div>
        </div>

    </div>
    <div class="projet option2">
        <div class="grid">
             <div class="contenu deuxieme">
            
            <div class="reseau_sociaux2">
                
                    <svg class="icon icon--lg">
                        <use xlink:href="#icon-github"></use>
                    </svg>
                
                <div class="ligne"></div>
                
                    <svg class="icon icon--lg">
                        <use xlink:href="#icon-vscode"></use>
                    </svg>
                
                <div class="ligne"></div>
                
                    <svg class="icon icon--lg">
                        <use xlink:href="#icon-figma"></use>
                    </svg>
                
             
            </div>

                <div class="sous_titre2">
                    <div class="titre" data-text=" B INDUSTRIES - B INDUSTRIES - B INDUSTRIES - ">
                        <h2> B INDUSTRIES - B INDUSTRIES - B INDUSTRIES - </h2>
                    </div>
                </div> 

                <div class="info2">
                    <p class="desc">Bienvenue dans l'univers passionnant de "B-Industries", un projet de design novateur qui repousse les frontières de l'industrie. "B-Industries" est bien plus qu'un simple projet de design, c'est une réflexion sur l'avenir culinaire.</p>
                    <a href="fiche_bi.html" class="button">Voir plus</a>
                </div>
                
            
                <div class="tag">                        
                        <h3>Projet design</h3>
                </div>    
              
            
        </div>
        <div class="max">
            <img src="assets/images/binc_thumbnail.jpg" alt="max"> 
        </div>
        <div class="bars">
            <div class="contenant">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>   
        </div>
        <div class="div4"> </div>

        </div>
        <div class="cercles_gris">
            <div class="cercle_gris1" >
                <div class="c1" data-scrolly="fromTop"></div>
                <div class="c2" data-scrolly="fromTop2"></div>
                <div class="c3" data-scrolly="fromTop3"></div>
                
            </div>
            <div class="cercle_gris2">
                <div class="c1" data-scrolly="fromTop"></div>
                <div class="c2" data-scrolly="fromTop2"></div>
                <div class="c3" data-scrolly="fromTop3"></div>
                
            </div>
        </div>
    </div>
    <div class="projet">
        <div class="grid">
               <div class="contenu">
            
                <div class="reseau_sociaux">
                   
                        <svg class="icon icon--lg">
                            <use xlink:href="#icon-figma"></use>
                        </svg>
                   
                    <div class="ligne"></div>
                   
                    <svg class="icon icon--lg">
                        <use xlink:href="#icon-illu"></use>
                    </svg>
                    
                    
                    
                </div>

                <div class="sous_titre2">
                    <div class="titre" data-text=" we ride - we ride - we ride - we ride - ">
                        <h2> we ride - we ride - we ride - we ride - </h2>
                    </div>
                </div> 

                <div class="info">
                    <p class="desc">WeRide n'est pas seulement un projet de design, c'est une exploration visuelle qui nous plonge dans l'univers dynamique de la mobilité moderne. WeRide est l'incarnation de cette créativité et de cette passion, un projet qui marie l'art du design avec la fascination pour le vélo.</p>
                    <a href="fiche_urba.html" class="button">Voir plus</a>
                </div>
                
            
                <div class="tag">                        
                        <h3>Projet design</h3>
                </div>    
              
            
        </div>
        <div class="max">
            <img src="assets/images/urbania_thumbnail.jpg" alt="max"> 
        </div>
        <div class="bars">
            <div class="contenant">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>   
        </div>
        <div class="div4"> </div>

        </div>
        <div class="cercles_brun">
            <div class="cercle_brun1" >
                <div class="c1" data-scrolly="fromTop"></div>
                <div class="c2" data-scrolly="fromTop2"></div>
                <div class="c3" data-scrolly="fromTop3"></div>
                
            </div>
            <div class="cercle_brun2">
                <div class="c1" data-scrolly="fromTop"></div>
                <div class="c2" data-scrolly="fromTop2"></div>
                <div class="c3" data-scrolly="fromTop3"></div>
                
            </div>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}